@{
    ViewData["Title"] = "Prodotti";
}
@model List<ItemViewModel>
<h1>@ViewData["Title"]</h1>
<h2>sono la index del controller Item test</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
    Reiciendis ipsa veritatis atque suscipit tempore, ducimus explicabo delectus accusantium animi,
    adipisci exercitationem impedit! Autem ad rem et iure laboriosam magnam numquam?</p>
<div class="container max-width-1200">
    <div class="row d-flex flex-wrap max-width-1200 w-100">
        @foreach (ItemViewModel item in Model)
        {
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-2">
                <div class="card p-2">
                    <div class="box-img"> <img src="@item.ProductImageString" alt="immagine prodotto" class="card-img mb-2">
                    </div>
                    <div class="box-content">
                        <h3 class="text-capitalize">@item.Category</h3>
                        <h4 class="text-capitalize">@item.ProductName</h4>

                        @if (@item.Discount.Amount < @item.FullPrice.Amount && @item.Discount.Amount > 0 )
                        {
                            <span class="text-primary">
                                @(item.FullPrice.Amount - item.Discount.Amount)
                            </span>
                            <span class="text-decoration-line-through">
                                @item.FullPrice
                            </span>
                            
                        }
                        else
                        {
                            <span class="mb-0"> @item.FullPrice</span>
                        }
                        <p>@for(int i= 0; i < 5; i++){
                            if (@item.Rating >= i)
                            {
                                <i class="fa-solid fa-star"></i>
                            }
                            else
                            {
                                <i class="fa-regular fa-star"></i>
                            }

                        }
                    </p>
                    <button class="d-block mt-2 bg-primary  text-capitalize rounded">
                        <a class="text-white text-decoration-none" asp-action="Detail" asp-route-id="@item.Id">dettaglio
                        prodotto</a> </button>
                </div>

            </div>
        </div>
                }


    </div>
</div>
</div>
